@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap');

* {
  font-family: 'Mukta', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;

  &::-webkit-progress-bar {
    background-color: rgb(218, 218, 218);
    border-radius: 30px;
    height: 10px;
  }

  &::-webkit-progress-value {
    background-image: -webkit-linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.1) 33%,
        rgba(0, 0, 0, 0.1) 66%
      ),
      -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
      -webkit-linear-gradient(left, #09c, rgb(68, 255, 208));

    border-radius: 30px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .homepage__container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80%;
    height: 40%;

    h1 {
      font-size: 100px;
    }

    .homepage__buttonContainer {
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}

.fullWidth__page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  progress {
    height: 40px;
  }

  .fullWidth__formContainer {
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      padding: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .input {
        width: 200px;
        height: 50px;
        margin: 20px 0;
        padding-left: 5px;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid black;
      }

      .alert {
        margin: 20px 0;
        height: 30px;
        color: red;
      }
    }
  }
}

.btn {
  color: white;
  width: 200px;
  height: 60px;
  border: none;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 300ms;
  margin-bottom: 20px;

  &:hover {
    background-color: rgb(25, 151, 200);
    border-radius: 30px;
  }
}

.finalInvoice {
  background-color: white;
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 30px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    font-size: 40px;
  }
  .finalInvoice__information {
    font-style: italic;
    height: 4vh;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .finalInvoice__contactDetails {
    display: flex;
    height: 20vh;
    width: 50%;

    .invoiceFrom {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1;
    }

    .invoiceTo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1;
    }
  }

  .finalInvoice__items {
    min-height: 45vh;

    .keys {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 4vh;

      .keys__item {
        flex: 0.7;
      }

      .keys__quantity {
        flex: 0.1;
      }

      .keys__price {
        flex: 0.1;
      }
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 4vh;
      border-bottom: 1px solid grey;

      .item__item {
        flex: 0.7;
      }

      .item__quantity {
        flex: 0.1;
      }

      .item__price {
        flex: 0.1;
      }
    }
  }

  .button__printDocument {
    margin-top: 20px;
  }
}

.pageOne {
  display: none;
}

.pageTwo {
  display: none;
}

.pageThree {
  display: none;
}

.pageFour {
  display: none;
}

@media print {
  .btn {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .finalInvoice__information {
    font-size: 10px;
  }

  .finalInvoice__contactDetails {
    width: 100% !important;
  }
}
